<div class="row main">

  <div class="text-center">
    <h1>Welcome to the GA Camping Store</h1>
    <br>
    <h4>Search: <input type="text" ng-model="main.searchText"></h4>
    <br>
  </div>

  <table class="table col-md-12">
    <tr>
      <th>Category</th>
      <th>Description</th>
      <th>Price</th>
      <th>Add</th>
    </tr>
    <tr class="animate-inventory" ng-repeat="item in main.inventory | filter: {description: main.searchText} | orderBy: ['category', 'price']">
      <td>{{item.category}}</td>
      <td>{{item.description}}</td>
      <td>{{item.price | currency}}</td>
      <td><button class="btn btn-sm btn-primary" ng-click="main.addItem(item)">Add to Cart</button></td>
    </tr>
  </table>

  <h2>Your Cart:</h2>
  <ul>
    <li class="cart animate-cart" ng-repeat="item in main.cart">
      <span>{{ item.qty + ' x ' + item.description + ' = ' + (main.getCost(item) | currency) }}</span>
      <button class="btn btn-danger btn-xs" ng-click="main.removeItem(item)">Remove Item</button>
    </li>
  </ul>
  <h3>Total: {{ main.getTotal() | currency }}</h3>
  <br>
  <button class="btn btn-danger" ng-click="main.clearCart()">Clear Cart</button>
</div>
